* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4 {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

h4 {
    margin-top: 10px;
}

.banner{
    margin-top: 10px;
    margin-bottom: 30px;
}
.banner-sony-objektivy{
    padding-left: 60px;
    margin-top: 10px;
    margin-bottom: 30px;
}