/* Doporučené produkty */
.recommended-products {
    margin-bottom: 90px;
    
}

.products-r {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-r {
    background: var(--white);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    text-align: center;
}
.product-r:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.recommended-img {
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* Kategorie Produktů */
.category-products {
    margin-bottom: 200px;
}

.products-k {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.product-k:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.product-k {
    background: var(--white);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: 20px;
    text-align: center;
}

.category-img {
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
    margin-left: 90px;
    max-width: 120px;
    height: auto;
    display: block;
    margin: auto;
}

/* Tlačítko nahoru  */
.back {
    text-align: center;
    margin: 30px 0;
}

.back a {
    font-size: 24px;
}

/* Produkty */
.products-overview {
    margin-bottom: 200px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    margin-top: 30px;
    align-items: stretch;  
}

.product {
    display: flex;
    flex-direction: column;
    background: var(--white);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    text-align: center;
    height: 100%;
}

.product:hover {
    transform: scale(1.08);
    transition: 0.6s;
    cursor: pointer;
}

.product-price {
    text-align:center;
    margin-top: auto;
    font-weight: bold;
    background-color: rgb(224, 82, 82);
    padding: 5px;
    margin: 30px;
    border-radius: 12px;
    font-size: 20px;
    color: aliceblue;
}

.product a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* DETAIL PRODUKTU */
.product-detail {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background: var(--white);
    padding: 30px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin-bottom: 40px;
}

.product-images img {
    height: 400px;
    object-fit: contain;
    margin: auto;
    padding-top: 80px;
    padding-right: 20px;
    max-width: 100%;
    height: auto;
}

.product-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.product-price {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 15px 0;
}

.cart {
    margin-top: 20px;
    padding: 15px;
    background: var(--dark-gray);
    color: var(--white);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.cart:hover {
    background: #585858;   /* uprav podle barvy webu */
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

/* GALERIE PRODUKTU */
.product-gallery {
    margin: 40px;
    background: var(--white);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    flex: 1;
}

.gallery-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-grid img {
    background: var(--white);
    margin-left: 20px;
    height: 150px;
    object-fit: contain;
    margin: 30px;
}

/* ===== KOŠÍK ===== */

/* ===== CHECKOUT STEPS ===== */

.checkout-steps {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.step {
    padding: 8px 18px;
    border-radius: 20px;
    background: #ddd;
}

.step.active {
    background: #333;
    color: white;
}


/* ===== PRODUKTY ===== */

.cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 12px;
    max-width: 900px;
}

.cart-item img {
    width: 300px;
    height: 150px;
    object-fit: contain;
}

.cart-info {
    flex: 1;
}

.cart-price {
    font-weight: bold;
    text-align: center;
    font-size: 28px;
}


/* ===== CELKOVÁ CENA ===== */

.cart-total {
    font-size: 22px;
    text-align: end;
    margin-top: 30px;
}


/* ===== BUTTON ===== */

.btn-next {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 50px;
    float: right;
    background: #333;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-next:hover {
    background: #555;
    transition: 0.5s;
}

/* ===== FORM ===== */

.checkout-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;

    background: var(--white);
    padding: 30px;
    border-radius: 12px;

    max-width: 700px;
    width: 100%;
}

.form{
    max-width: 680px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: var(--white);
    border-radius: var(--radius);
    margin-bottom: 50px;
}

.form1{
    max-width: 680px;
    margin: 0 auto;
    padding: 40px 20px;

}

.checkout-form h3 {
    grid-column: span 2;
    border-bottom: 2px solid var(--dark-gray);
    padding-bottom: 5px;
    margin-top: 10px;
}

.checkout-form label {
     display: flex;
    flex-direction: column;
    font-weight: bold;
    cursor: pointer;
}

.checkout-form input {
    margin-right: 8px;
}

.checkout-form input[type="text"],
.checkout-form input[type="email"] {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--dark-gray);
    margin-top: 6px;
}

.checkout-form label {
    margin-bottom: 15px;
    width: fit-content;
}

/* ===== SHRNUTÍ ===== */

.order-summary {
    background: var(--white);
    padding: 30px;
    border-radius: 12px;
    margin-top: 20px;
}
/* ===== O NÁS, KONTAKT ===== */

.info-card {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;
}

.info-card hr {
    border: none;
    height: 1px;
    background: #ddd;
}

/* ===== KOŠÍK FINAL ===== */
.form2{
    max-width: 680px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: var(--white);
    border-radius: var(--radius);
    margin-bottom: 50px;
    margin-top: 300px;
}
/* ===== TLAČÍTKO ZPĚT NA PŘEHLED ===== */
.back{
    background-color: var(--white);
    padding: 10px;
    width: max-content;
    margin: auto;
    border-radius: var(--radius);
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 10px;
}

.back:hover{
    transform: scale(1.04);
}