/* Doporučené produkty */
.recommended-products {
    margin-bottom: 90px;
    
}

.products-r {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-r {
    background: var(--white);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    text-align: center;
}

.recommended-img {
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* Kategorie Produktů */
.category-products {
    margin-bottom: 40px;
}

.products-k {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.product-k {
    background: var(--white);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: 20px;
    text-align: center;
}

.category-img {
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
    margin-left: 70px;
}

/* Tlačítko nahoru  */
.back {
    text-align: center;
    margin: 30px 0;
}

.back a {
    font-size: 24px;
}

/* Produkty */
.products-overview {
    margin-bottom: 200px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    margin-top: 30px;
    align-items: stretch;
    
}

.product {
    display: flex;
    flex-direction: column;
    background: var(--white);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    text-align: center;
    height: 100%;
}

.product-price {
    text-align:center;
    margin-top: auto;
    font-weight: bold;
    background-color: rgb(224, 82, 82);
    padding: 5px;
    margin: 30px;
    border-radius: 12px;
    font-size: 20px;
    color: aliceblue;
}

.product a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* DETAIL PRODUKTU */
.product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background: var(--white);
    padding: 30px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin-bottom: 40px;
}

.product-images img {
    height: 400px;
    object-fit: contain;
    margin: auto;
    padding-top: 80px;
    padding-right: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-price {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 15px 0;
}

.cart {
    margin-top: 20px;
    padding: 15px;
    background: var(--dark-gray);
    color: var(--white);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

/* GALERIE PRODUKTU */
.product-gallery {
    margin: 40px;
    background: var(--white);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    margin-top: 30px;
}

.gallery-grid img {
    background: var(--white);
    margin-left: 20px;
    height: 150px;
    object-fit: contain;
    margin: 30px;
}