body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.main {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* header */
header {
    background: var(--white);
    box-shadow: var(--shadow);
}

.header {
    max-width: var(--max-width);
    margin: auto;
    padding: 16px;
    display: flex;
    align-items: self-start;
    margin-left: 20px;
    gap: 12px;
}

.logo {
    width: 50px;
}

/* navigace */
.nav {
    max-width: var(--max-width);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    background: var(--dark-gray);
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.nav a {
    font-weight: bold;
    color: aliceblue;
}

/* main */
.main {
    max-width: var(--max-width);
    margin: auto;
    padding: 20px;
}

/* footer */
.footer {
    background: var(--dark-gray);
    color: var(--white);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}