
/*MOBIL */
@media (max-width: 768px) {

    /* HEADER */
    .header {
        flex-direction: column;
    }

    .logo {
        width: 80px;
    }

    /* NAVIGACE */
    .nav {
        align-items: center;
        gap: 20px;
    }

    /* PRODUKTY GRID */
    .products,
    .products-r,
    .products-k {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .cart-item {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .cart-info {
        flex: unset;
    }
    .cart-total{
        text-align: center;
    }

    .cart-price {
        margin-left: 0;
        padding-right: 0;
        font-size: 20px;
    }

    .btn-next {
        width: 100%;
        text-align: center;
    }

    .checkout-form {
        grid-template-columns: 1fr;
    }

    .checkout-form h3,
    .checkout-form label:has(input[type="radio"]) {
        grid-column: span 1;
    }
}


    /* DETAIL PRODUKTU */
    .product-detail {
        flex-direction: column;
        gap: 20px;
    }

    /* OBRÁZKY PRODUKTŮ */
    .product-img,
    .recommended-img,
    .category-img {
        width: 100%;
        height: auto;
    }

    /* FOOTER */
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }


/*TABLET */
@media (min-width: 769px) and (max-width: 1024px) {

    /* GRID PRODUKTŮ */
    .products,
    .products-r,
    .products-k {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    /* DETAIL PRODUKTU */
    .product-detail {
        gap: 30px;
    }

    main {
        max-width: 1024px;
    }

    .cart-item img {
        width: 80px;
        height: 80px;
    }

}


/*DESKTOP */
@media (min-width: 1400px) {

    .main {
        max-width: 1300px;
        margin: auto;
    }

}